<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>About</title>
  </head>
  <body>
    <!-- Nav bar -->
    <div class="navbar bg-base-100">
      <!-- •	Must have a <title> property stating something like "Lego Collection" -->
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/"
          >Lego Collection</a
        >
      </div>

      <!-- •	Include a responsive navbar with the following items: -->
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a class="active" href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100">
                <li>
                  <a href="/lego/sets?theme=Cities of Wonders"
                    >Cities of Wonders</a
                  >
                </li>
                <li><a href="/lego/sets?theme=Star Wars">Star Wars</a></li>
                <li>
                  <a href="/lego/sets?theme=Speed Champions">Speed Champions</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>

      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li>
                  <a href="/lego/sets?theme=Cities of Wonders"
                    >Cities of Wonders</a
                  >
                </li>
                <li><a href="/lego/sets?theme=Star Wars">Star Wars</a></li>
                <li>
                  <a href="/lego/sets?theme=Speed Champions">Speed Champions</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
    <!-- End of Nav bar -->

    <br />

    <!-- Main content -->
    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>

            <p class="py-6">
              I am a student at Seneca College in the Computer Programming
            </p>
          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img
            class="w-full rounded-lg"
            src="/images/about.jpeg"
            alt="profile"
          />
          <p class="text-xs">Image generated by Image Creator powered by DALL·E 3</p>
        </div>
        <div class="prose">
          <p>
            I am currently in my second year of the program. I am looking
            forward to learning more about web development and programming in
            general.
          </p>
          <p>
            I am looking for a software developer intern or Co-op in Toronto
            area.
          </p>
          <p>
            I have learn C, C++, JavaScrip, HTML, CSS, SQL. I am currently
            learning Node.js and Express.js.
          </p>
        </div>
      </div>
    </div>

    <!-- End of Main content -->
  </body>
</html>
