<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Add Set</title>
  </head>
  <body>
    <!-- Nav bar -->
    <%- include('partials/navbar') %>
    <!-- End of Nav bar -->

    <!-- •	Have an element with class "container mx-auto", containing: -->
    <div class="container mx-auto">
      <!-- Header -->
      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Add Set</h1>
            <p class="py-6">Add a new set to the collection!</p>
          </div>
        </div>
      </div>
      <br />

      <!-- Add Set Form -->
      <form action="/lego/addSet" method="post">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 gap-y-0"
        >
          <div>
            <!-- Name -->
            <div class="mb-6">
              <label for="name" class="block text-gray-700 font-medium"
                >Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                required
                class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300"
              />
            </div>
            <!-- Year -->
            <div class="mb-6">
              <label for="year" class="block text-gray-700 font-medium"
                >Year</label
              >
              <input
                type="number"
                id="year"
                name="year"
                required
                class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300"
              />
            </div>
          </div>
          <div>
            <!-- Number of Parts -->
            <div class="mb-6">
              <label for="num_parts" class="block text-gray-700 font-medium"
                >Number of Parts</label
              >
              <input
                type="number"
                id="num_parts"
                name="num_parts"
                required
                class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300"
              />
            </div>
            <!-- Image URL -->
            <div class="mb-6">
              <label for="img_url" class="block text-gray-700 font-medium"
                >Image URL</label
              >
              <input
                type="url"
                id="img_url"
                name="img_url"
                required
                class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300"
              />
            </div>
          </div>

          <div>
            <!-- Theme -->
            <div class="mb-6">
              <label for="theme_id" class="block text-gray-700 font-medium"
                >Theme</label
              >
              <select
                id="theme_id"
                name="theme_id"
                required
                class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300"
              >
                <% themes.forEach(theme=>{ %>
                <option value="<%= theme.id %>"><%= theme.name %></option>
                <% }) %>
              </select>
            </div>

            <div class="mb-6">
              <label for="set_num" class="block text-gray-700 font-medium"
                >Set Num</label
              >
              <input
                type="text"
                id="set_num"
                name="set_num"
                required
                class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300"
              />
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="mt-6">
          <button type="submit" class="btn btn-primary w-full">Add Set</button>
        </div>
      </form>
    </div>
  </body>
</html>
